body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'montserrat', Arial, sans-serif;
    text-align: center;
    padding: 2px;
}

h6 {
    text-transform: uppercase;
    margin-bottom: 1px;
}

p,
a,
li,
input,
button,
textarea,
span {
    font-family: 'rodina', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #414042;
    transition: all linear 0.15s;
}

a:hover {
    color: #025097;
    text-decoration: none;
}

.row {
    margin: 0;
}

.myndraine {
    font-family: 'myndraine', Arial, sans-serif;
}

.montserrat {
    font-family: 'montserrat', Arial, sans-serif;
    font-weight: bold;
}

.architects {
    font-family: 'architects', Arial, sans-serif;
}

.bleu {
    color: #025097;
}

.grisfoncé {
    color: #737373;
}

.grisnoir {
    color: #414042;
}

.backGroundGrey {
    background-color: rgb(218, 218, 218);
}

.font14 {
    font-size: 14px;
    opacity: 0.6;
}

.font12 {
    font-size: 12px;
    opacity: 0.6;
}

.font22 {
    font-size: 22px;
    opacity: 0.9;
}

.opacity8 {
    opacity: 0.8;
}


/* header*/

header {
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-image: url("../img/accueil.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    opacity: 0.7;
}

.active {
    color: #025097
}

.services {
    position: absolute;
    top: 61vh;
    left: 25%;
}

#navbar-1 {
    z-index: 2;
}


/* footer */


/* main */

main {
    width: 90%;
    margin: auto;
}

section {
    border-radius: 3px;
}

.anchor4 {
    display: block;
    height: 4vh;
    margin-top: -4vh;
    visibility: hidden;
}

.anchor15 {
    display: block;
    height: 15vh;
    margin-top: -15vh;
    visibility: hidden;
}

.height200 {
    height: 200px;
    width: 100%;
}

.height130 {
    min-height: 130px;
    width: 100%;
}

.marginTopA {
    margin-top: 30%;
}

.marginTopE,
.marginTopF,
.marginTopG {
    margin-top: 40%;
}

.marginTopH {
    margin-top: 90%;
}

.siteCard {
    border: 1px solid #025097;
    background-color: white;
    color: #025097;
}

.siteCard,
.siteCard:hover {
    transition: all 1s ease;
}

.siteCard:hover {
    background-color: #222222;
    color: rgb(218, 218, 218);
    border-radius: 1%;
}

#padelProject,
#mahlerProject,
#jeromeProject {
    display: none;
}

#padelClic,
#mahlerClic,
#jeromeClic {
    cursor: pointer;
    opacity: 0.4;
}

#padelClic:hover,
#mahlerClic:hover,
#jeromeClic:hover {
    cursor: pointer;
    opacity: 1;
}

.rounded-circle {
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.monprofil:hover {
    background-color: rgb(218, 218, 218);
    color: #025097;
    border-radius: 2%;
}

.monprofil:hover {
    transition: all 0.6s ease;
}


/* animation étapes du projet */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.honeycomb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*max-width: 960px;
    margin: 0 auto;*/
}

.honeycomb-cell {
    flex: 1 1 200px;
    max-width: 200px;
    height: 110px;
    margin: 60px 5px 10px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
}

.honeycomb-cell__title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    hyphens: auto;
    word-break: break-word;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1.4em;
    transition: opacity 350ms;
}

.honeycomb-cell__title>small {
    font-weight: 300;
    margin-top: 0.2em;
}

.honeycomb-cell__image {
    object-fit: cover;
    object-position: center;
}

.honeycomb-cell::before,
.honeycomb-cell::after {
    content: "";
}

.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell__image {
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
}

.honeycomb-cell::before {
    background: #fff;
    transform: scale(1.055);
}

.honeycomb-cell::after {
    background: #025097;
    opacity: 0.5;
    transition: opacity 350ms;
}

.honeycomb-cell:hover .honeycomb-cell__title {
    opacity: 0;
}

.honeycomb-cell:hover::before {
    background: #A4A4A2;
}

.honeycomb-cell:hover::after {
    opacity: 0;
}


/* animation bureau café */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 26rem;
    border-radius: 26rem;
    overflow: hidden;
    height: 26rem;
    position: relative;
}

.objects_computer {
    position: absolute;
    width: 7rem;
    height: 5.5rem;
    background: #bfbfbf;
    left: 3.8rem;
    top: 14.8rem;
    transform: skew(17deg, 0deg);
    border-radius: 0.6rem 0.6rem 0 0;
    box-shadow: inset -6px 1px darkgrey;
}

.objects_computer:after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 0.5rem;
    background: darkgrey;
    top: 5.1rem;
    left: 7rem;
    transform: skew(0deg, 2deg);
}

.objects_table {
    position: absolute;
    width: 22rem;
    top: 20.4rem;
    height: 1.4rem;
    background: #63321f;
    left: 2rem;
    box-shadow: 0px -3px #582714;
}

.objects_table:before {
    content: '';
    width: 19rem;
    height: 1.2rem;
    position: absolute;
    background: #582714;
    border-radius: 0 1rem;
    top: 1.4rem;
    left: 3rem;
    z-index: 1;
}

.objects_cup {
    position: absolute;
    width: 2.4rem;
    top: 17.2rem;
    background: #025097;
    left: 16.8rem;
    height: 3rem;
    border-radius: 0.3rem 0.3rem 0 0;
    z-index: 55;
    box-shadow: -2px 0px #025097;
    opacity: 0.8;
}

.objects_cup:after {
    content: '';
    width: 2rem;
    height: 2rem;
    background: #025097;
    position: absolute;
    top: 0.7rem;
    left: 0.4rem;
    border: none;
    border-radius: 0;
    z-index: 5;
}

.objects_cup:before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1.3rem;
    border: 4px solid #025097;
    left: 1.6rem;
    top: 0.8rem;
    border-radius: 1rem;
    z-index: 1;
}

.objects_chair {
    height: 10.2rem;
    position: absolute;
    width: 9.1rem;
    background: #3c3c3c;
    left: 16.6rem;
    top: 10rem;
    border-radius: 2rem 2rem 0 0;
    transform: skew(-9deg, 0deg);
    box-shadow: inset -9px 5px #424242;
}

.box_1 {
    position: absolute;
    width: 5.4rem;
    height: 6.8rem;
    left: 1rem;
    top: 6.7rem;
    background-color: rgba(99, 102, 115, 0.709804);
    border-radius: 0.6rem;
    box-shadow: 1px 3px 5px #00000052;
    animation: float 2s infinite;
}

.box_1 div {
    background: #025097;
    position: absolute;
    border-radius: 1rem;
}

.box_1 :nth-child(1) {
    width: 1.8rem;
    height: 0.3rem;
    top: 1.2rem;
    left: 1.3rem;
}

.box_1 :nth-child(2) {
    width: 1rem;
    height: 0.3rem;
    top: 1.2rem;
    left: 3.3rem;
}

.box_1 :nth-child(3) {
    width: 1.1rem;
    height: 0.3rem;
    top: 2rem;
    left: 2.1rem;
}

.box_1 :nth-child(4) {
    width: 1.4rem;
    height: 0.3rem;
    top: 2rem;
    left: 3.3rem;
}

.box_1 :nth-child(5) {
    width: 0.7rem;
    height: 0.3rem;
    top: 2.7rem;
    left: 2.7rem;
    box-shadow: 1rem 0px #025097, 1.8rem 0px #025097, -0.5rem 11px #025097;
}

.box_1 :nth-child(6) {
    width: 1.8rem;
    height: 0.3rem;
    top: 4.1rem;
    left: 1.2rem;
    box-shadow: 1rem 22px #025097, 0rem 43px #025097;
}

.box_1 :nth-child(7) {
    width: 0.8rem;
    height: 0.3rem;
    top: 4.8rem;
    left: 1.7rem;
    box-shadow: 0rem 22px #025097;
}

.box_2 {
    position: absolute;
    width: 6.4rem;
    height: 4.4rem;
    left: 7.3rem;
    top: 1.7rem;
    background-color: rgba(99, 102, 115, 0.709804);
    border-radius: 0.6rem;
    box-shadow: 1px 3px 5px #00000052;
    animation: float2 2s 1s infinite;
}

.box_2 div {
    position: absolute;
    border-radius: 1rem;
    background: #025097;
}

.box_2 :nth-child(1) {
    transform: rotate(45deg);
    width: 0.2rem;
    height: 0.6rem;
    left: 0.8rem;
    top: -0.4rem;
    box-shadow: 1.1rem 0.5rem #025097, 2.5rem -0.5rem #025097, 6rem 0.5rem #025097;
}

.box_2 :nth-child(2) {
    transform: rotate(133deg);
    width: 0.2rem;
    height: 0.6rem;
    left: 0.8rem;
    top: 0rem;
    box-shadow: 0.5rem -1.1rem #025097, -0.9rem -2rem #025097, 0.2rem -5.5rem #025097;
}

.box_2:after {
    content: '';
    width: 1rem;
    height: 0.2rem;
    background: #025097;
    position: absolute;
    border-radius: 6rem;
    top: 2.4rem;
    left: 2.2rem;
}

.box_2:before {
    content: '';
    width: 0.8rem;
    height: 0.2rem;
    background: #025097;
    position: absolute;
    border-radius: 6rem;
    top: 1.1rem;
    left: 2rem;
    transform: rotate(-68deg);
    box-shadow: -2.2rem 2.8rem #025097;
}

.box_3 {
    position: absolute;
    width: 4.9rem;
    height: 4.2rem;
    left: 7.3rem;
    top: 7.4rem;
    background-color: rgba(99, 102, 115, 0.709804);
    border-radius: 0.6rem;
    box-shadow: 1px 3px 5px #00000052;
    animation: float3 2.5s infinite;
}

.box_3:after {
    content: '';
    position: absolute;
    background: #025097;
    width: 0.8rem;
    height: .2rem;
    transform: rotate(-64deg);
    border-radius: 5rem;
    top: 0.8rem;
    left: 0.5rem;
    box-shadow: 0.2rem 0.5rem #025097;
}

.smoke {
    width: 70px;
    height: 100px;
    background: none;
    position: absolute;
    left: 18rem;
    margin-left: -40px;
    z-index: 3;
    top: 13.8rem;
    animation: bk 11s infinite;
}

.smoke:after {
    content: '';
    width: 100px;
    height: 100px;
    background: none;
    position: absolute;
    background-image: -webkit-radial-gradient(42% 48%, ellipse, rgba(255, 255, 255, 0.2), transparent 25%), -webkit-radial-gradient(35% 70%, ellipse, rgba(255, 255, 255, 0.2), transparent 15%), -webkit-radial-gradient(42% 61%, ellipse, rgba(255, 255, 255, 0.2), transparent 10%);
    animation: smoke 2s 1s infinite;
    transform: rotate(18deg);
}

@keyframes float {
    0% {
        top: 6.7rem;
    }
    50% {
        top: 7rem;
    }
    100% {
        top: 6.7rem;
    }
}

@keyframes float2 {
    0% {
        top: 1.7rem;
    }
    50% {
        top: 2rem;
    }
    100% {
        top: 1.7rem;
    }
}

@keyframes float3 {
    0% {
        top: 7.4rem;
    }
    50% {
        top: 7.7rem;
    }
    100% {
        top: 7.4rem;
    }
}

@keyframes smoke {
    0% {
        background-position: 0 0;
        opacity: 0;
    }
    15%,
    85% {
        opacity: 1;
    }
    100% {
        background-position: -20px -25px, -5px -25px, 0px -25px, 0px -25px;
        opacity: 0;
    }
}